@using BugTracker.Models.Enums
@using BugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager
@inject IBTNotificationService NotificationService

@{
	BTUser btUser = await UserManager.GetUserAsync(User);
}

<!doctype html>
<html class="fixed">
	<head>
		<!-- Basic -->
		<meta charset="UTF-8">

		<title>BugTracker with Porto Admin - Responsive HTML5 Template</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="~/template/vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="~/template/vendor/animate/animate.compat.css">
		<link rel="stylesheet" href="~/template/vendor/font-awesome/css/all.min.css" />
		<link rel="stylesheet" href="~/template/vendor/boxicons/css/boxicons.min.css" />
		<link rel="stylesheet" href="~/template/vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="~/template/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
		<link rel="stylesheet" href="~/template/vendor/jquery-ui/jquery-ui.css" />
		<link rel="stylesheet" href="~/template/vendor/jquery-ui/jquery-ui.theme.css" />
		<link rel="stylesheet" href="~/template/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css" />
		<link rel="stylesheet" href="~/template/vendor/morris/morris.css" />

		<!-- My CSS -->
		<link rel="stylesheet" href="~/css/MyCSS.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="~/template/css/theme.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="~/template/css/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="~/template/css/custom.css">

		<!-- Head Libs -->
		<script src="~/template/vendor/modernizr/modernizr.js"></script>
	</head>

	<body>
		<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Landing", "Home", new { area = "" })">
		</form>
		<section class="body">

			<!-- start: header -->
			<header class="header" style="background:#EDEDED;">
				<div class="logo-container">
					<a href="https://nickseyler-portfolio.netlify.app/" class="logo" target="_blank">
						<img src="~/img/NSDarkLogo.jpg" width="32" height="32" alt="Logo" />
						<span class="spanlink ps-2">Visit My Portfolio</span>
					</a>

					<div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fas fa-bars" aria-label="Toggle sidebar"></i>
					</div>

				</div>

				<!-- user box -->
				<div class="header-right">
					<ul class="notifications">
						@{
							List<Notification> notifications = (await NotificationService.GetReceivedNotificationsAsync(btUser.Id)).Where(n => n.Viewed == false).ToList();
							int nCount = notifications.Count();
						}
						<li>
							<a href="#" class="dropdown-toggle notification-icon" data-bs-toggle="dropdown">
								<i class="bx bx-bell"></i>
								@if(nCount > 0)
								{
								<span class="badge">
									@nCount
								</span>
								}
							</a>

							<div class="dropdown-menu notification-menu">
								<div class="notification-title">
									<span class="float-end badge badge-default">
										@nCount
									</span>
									Alerts
								</div>

								<div class="content">
									@if(nCount > 0)
									{
									<ul>
										@foreach(Notification notification in notifications){
										<li>
											<a href="#" class="clearfix">
												<span class="title">@notification.Title</span>
												<span class="message">@notification.Message</span>
											</a>
										</li>
										}
									</ul>

									<hr />
									}

									<div class="text-end">
										<a class="view-more" asp-area="" asp-controller="Tickets" asp-action="ViewNotifications">View All</a>
									</div>
								</div>
							</div>
						</li>
					</ul>

					<span class="separator"></span>

					@if (SignInManager.IsSignedIn(User))
					{
					<div id="userbox" class="userbox">
						<a href="#" data-bs-toggle="dropdown">
							<figure class="profile-picture">
								@if (btUser.AvatarData != null)
								{
									<img class="" style="width:30px;height:30px;" src="data:image/*;base64,@(Convert.ToBase64String(btUser.AvatarData))" alt="@btUser.FullName" />
								}
								else
								{
									<img class="" style="width:30px;height:30px;" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="" />
								}
							</figure>
							<div class="profile-info" data-lock-name="@btUser.FullName" data-lock-email="@btUser.Email">
								<span class="name">@btUser.FullName</span>
								<span class="role">[@((await UserManager.GetRolesAsync(btUser)).FirstOrDefault())]</span>
							</div>

							<i class="fa custom-caret"></i>
						</a>

						<div class="dropdown-menu">
							<ul class="list-unstyled mb-2">
								<li class="divider"></li>
								<li>
									<a role="menuitem" tabindex="-1" class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="bx bx-user-circle"></i> My Profile</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="javascript:document.getElementById('logoutForm').submit();"><i class="bx bx-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>

					</div>
					}
					else
					{
					<div id="userbox" class="userbox">
						<a href="#" data-bs-toggle="dropdown">

							<div class="profile-info">
								Register or Sign In
							</div>

							<i class="fa custom-caret"></i>
						</a>

						<div class="dropdown-menu">
							<ul class="list-unstyled mb-2">
								<li class="divider"></li>
								<li>
									<a role="menuitem" tabindex="-1" class="dropdown-item" asp-area="Identity" asp-page="/Account/Register"><i class="bx bx-pencil"></i>Register</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" class="dropdown-item" asp-area="Identity" asp-page="/Account/Login"><i class="bx bx-log-in"></i>Sign In</a>
								</li>
							</ul>
						</div>

					</div>
					}
			</div>
				<!-- end: user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">

				    <div class="sidebar-header">
				        <div class="sidebar-title">
				            Navigation
				        </div>
				        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
				            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
				        </div>
				    </div>

				    <div class="nano">
				        <div class="nano-content">
				            <nav id="menu" class="nav-main" role="navigation">

				                <ul class="nav nav-main">
				                    <li>
				                        <a asp-area="" asp-controller="Home" asp-action="Default">
				                            <i class="bx bx-home-alt" aria-hidden="true"></i>
				                            <span>Home</span>
				                        </a>                        
				                    </li>

									<li>
				                        <a asp-area="" asp-controller="Home" asp-action="Dashboard">
				                            <i class="bx bx-desktop" aria-hidden="true"></i>
				                            <span>Dashboard</span>
				                        </a>                        
				                    </li>
				                    
				                    <li class="nav-parent">
				                        <a class="nav-link" href="#">
				                            <i class="bx bx-envelope" aria-hidden="true"></i>
				                            <span>Notifications</span>
				                        </a>
										<ul class="nav nav-children">
											<li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="SentNotifications">Sent Notifications</a></li>
											<li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="ViewNotifications">Recieved Notifications</a></li>
										</ul>
				                    </li>

				                    <li class="nav-parent">
				                        <a class="nav-link" href="#">
				                            <i class="bx bx-cube" aria-hidden="true"></i>
				                            <span>Projects</span>
				                        </a>
				                        <ul class="nav nav-children">
											@if (User.IsInRole(nameof(BTRole.Admin))) 
											{
											<li><a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="Create">NEW PROJECT</a></li>
											}
											@if (!User.IsInRole(nameof(BTRole.Admin)))
											{
											<li><a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="MyProjects">My Projects</a></li>
											}
											<li><a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="AllProjects">All Projects</a></li>
											@if (User.IsInRole(nameof(BTRole.Admin)) || User.IsInRole(nameof(BTRole.ProjectManager)))
											{
											<li><a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="ArchivedProjects">Archived Projects</a></li>
											}
											@if (User.IsInRole(nameof(BTRole.Admin)))
											{
											<li><a class="dropdown-item" asp-area="" asp-controller="Projects" asp-action="UnassignedProjects">Unassigned Projects</a></li>
											}
				                        </ul>
				                    </li>

									<li class="nav-parent">
				                        <a class="nav-link" href="#">
				                            <i class="bx bx-wrench" aria-hidden="true"></i>
				                            <span>Tickets</span>
				                        </a>
				                        <ul class="nav nav-children">
											<li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="Create">NEW TICKET</a></li>
											<li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="MyTickets">My Tickets</a></li>
											<li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="AllTickets">All Tickets</a></li>
											@if (User.IsInRole(nameof(BTRole.Admin)) || User.IsInRole(nameof(BTRole.ProjectManager)))
											{
											<li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="ArchivedTickets">Archived Tickets</a></li>
											<li><a class="dropdown-item" asp-area="" asp-controller="Tickets" asp-action="UnassignedTickets">Unassigned Tickets</a></li>
											}
									</ul>
				                    </li>

									@if (User.IsInRole("Admin"))
									{
									<li class="nav-parent">
										<a class="nav-link" href="#">
											<i class="bx bx-bug" aria-hidden="true"></i>
											<span>Admin</span>
										</a>
										<ul class="nav nav-children">
											<li><a class="dropdown-item" asp-area="" asp-controller="UserRoles" asp-action="ManageUserRoles">Manage Roles</a></li>
											<li><a class="dropdown-item" asp-area="" asp-controller="Invites" asp-action="Create">Invite User</a></li>
										</ul>
									</li>
									}

								</ul>
				            </nav>

				        <script>
				            // Maintain Scroll Position
				            if (typeof localStorage !== 'undefined') {
				                if (localStorage.getItem('sidebar-left-position') !== null) {
				                    var initialPosition = localStorage.getItem('sidebar-left-position'),
				                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');

				                    sidebarLeft.scrollTop = initialPosition;
				                }
				            }
				        </script>
						</div>
				    </div>

				</aside>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					@RenderBody()
				</section>
			</div>

		</section>

		<!-- Vendor -->
		<script src="~/template/vendor/jquery/jquery.js"></script>
		<script src="~/template/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="~/template/vendor/popper/umd/popper.min.js"></script>
		<script src="~/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="~/template/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="~/template/vendor/common/common.js"></script>
		<script src="~/template/vendor/nanoscroller/nanoscroller.js"></script>
		<script src="~/template/vendor/magnific-popup/jquery.magnific-popup.js"></script>
		<script src="~/template/vendor/jquery-placeholder/jquery.placeholder.js"></script>

		<!-- Specific Page Vendor -->
		<script src="~/template/vendor/jquery-ui/jquery-ui.js"></script>
		<script src="~/template/vendor/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
		<script src="~/template/vendor/jquery-appear/jquery.appear.js"></script>
		<script src="~/template/vendor/bootstrapv5-multiselect/js/bootstrap-multiselect.js"></script>
		<script src="~/template/vendor/jquery.easy-pie-chart/jquery.easypiechart.js"></script>
		<script src="~/template/vendor/flot/jquery.flot.js"></script>
		<script src="~/template/vendor/flot.tooltip/jquery.flot.tooltip.js"></script>
		<script src="~/template/vendor/flot/jquery.flot.pie.js"></script>
		<script src="~/template/vendor/flot/jquery.flot.categories.js"></script>
		<script src="~/template/vendor/flot/jquery.flot.resize.js"></script>
		<script src="~/template/vendor/jquery-sparkline/jquery.sparkline.js"></script>
		<script src="~/template/vendor/raphael/raphael.js"></script>
		<script src="~/template/vendor/morris/morris.js"></script>
		<script src="~/template/vendor/gauge/gauge.js"></script>
		<script src="~/template/vendor/snap.svg/snap.svg.js"></script>
		<script src="~/template/vendor/liquid-meter/liquid.meter.js"></script>
		<script src="~/template/vendor/jqvmap/jquery.vmap.js"></script>
		<script src="~/template/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
		<script src="~/template/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
		<script src="~/template/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
		<script src="~/template/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
		<script src="~/template/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
		<script src="~/template/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
		<script src="~/template/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
		<script src="~/template/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="~/template/js/theme.js"></script>

		<!-- Theme Custom -->
		<script src="~/template/js/custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="~/template/js/theme.init.js"></script>

		<!-- Examples -->
		<script src="~/template/js/examples/examples.dashboard.js"></script>
		@RenderSection("scripts", required: false)
	</body>
</html>